////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



@font-face {
    font-family: 'roboto_light';
    src: url('fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: 'roboto_medium';
    src: url('fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'roboto_regular';
    src: url('fonts/Roboto/Roboto-Regular.ttf');
}




////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////




@font-face {
    font-family: 'Explora_Regular';
    src: url('fonts/Explora/Explora-Regular.ttf');
}




////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////




@font-face {
    font-family: 'Federo_Regular';
    src: url('fonts/Federo/Federo-Regular.ttf');
}




////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////






@font-face {
    font-family: 'Work_Sans_light';
    src: url('fonts/Work_Sans/static/WorkSans-Light.ttf');
}


@font-face {
    font-family: 'Work_Sans_medium';
    src: url('fonts/Work_Sans/static/WorkSans-Medium.ttf');
}



@font-face {
    font-family: 'Work_Sans_reular';
    src: url('fonts/Work_Sans/static/WorkSans-Regular.ttf');
}







////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////







@font-face {
    font-family: 'Red_Hat_Display_light';
    src: url('fonts/Red_Hat_Display/static/RedHatDisplay-Light.ttf');
}



@font-face {
    font-family: 'Red_Hat_Display_medium';
    src: url('fonts/Red_Hat_Display/static/RedHatDisplay-Medium.ttf');
}


@font-face {
    font-family: 'Red_Hat_Display_regular';
    src: url('fonts/Red_Hat_Display/static/RedHatDisplay-Regular.ttf');
}







////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////







@font-face {
    font-family: 'Raleway_light';
    src: url('fonts/Raleway/static/Raleway-Light.ttf');
}


@font-face {
    font-family: 'Raleway_extra_light';
    src: url('fonts/Raleway/static/Raleway-ExtraLight.ttf');
}



@font-face {
    font-family: 'Raleway_thin';
    src: url('fonts/Raleway/static/Raleway-Thin.ttf');
}



@font-face {
    font-family: 'Raleway_medium';
    src: url('fonts/Raleway/static/Raleway-Medium.ttf');
}


@font-face {
    font-family: 'Raleway_regular';
    src: url('fonts/Raleway/static/Raleway-Regular.ttf');
}






////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////







@font-face {
    font-family: 'Quicksand_Light';
    src: url('fonts/Quicksand/static/Quicksand-Light.ttf');
}

@font-face {
    font-family: 'Quicksand_medium';
    src: url('fonts/Quicksand/static/Quicksand-Medium.ttf');
}

@font-face {
    font-family: 'Quicksand_Regular';
    src: url('fonts/Quicksand/static/Quicksand-Regular.ttf');


}





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////






@font-face {
    font-family: 'Poppins_extra_light';
    src: url('fonts/Poppins/Poppins-ExtraLight.ttf');
}




@font-face {
    font-family: 'Poppins_light';
    src: url('fonts/Poppins/Poppins-Light.ttf');
}





@font-face {
    font-family: 'Poppins_medium';
    src: url('fonts/Poppins/Poppins-Medium.ttf');
}





@font-face {
    font-family: 'Poppins_regular';
    src: url('fonts/Poppins/Poppins-Regular.ttf');
}








////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////








@font-face {
    font-family: 'Moon_Dance';
    src: url('fonts/Moon_Dance/MoonDance-Regular.ttf');
}








////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////







@font-face {
    font-family: 'Montserrat_extra_light';
    src: url('fonts/Montserrat/static/Montserrat-ExtraLight.ttf');
}


@font-face {
    font-family: 'Montserrat_light';
    src: url('fonts/Montserrat/static/Montserrat-Light.ttf');
}



@font-face {
    font-family: 'Montserrat_medium';
    src: url('fonts/Montserrat/static/Montserrat-Medium.ttf');
}



@font-face {
    font-family: 'Montserrat_regular';
    src: url('fonts/Montserrat/static/Montserrat-Regular.ttf');
}








////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





@font-face {
    font-family: 'Major_Mono_Display';
    src: url('fonts/Major_Mono_Display/MajorMonoDisplay-Regular.ttf');
}







////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////






@font-face {
    font-family: 'Limelight';
    src: url('fonts/Limelight/Limelight-Regular.ttf');
}





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





@font-face {
    font-family: 'Limelight';
    src: url('fonts/Limelight/Limelight-Regular.ttf');
}





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////




@font-face {
    font-family: 'Libre_Barcode_128';
    src: url('fonts/Libre_Barcode_128/LibreBarcode128-Regular.ttf');
}





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





@font-face {
    font-family: 'Lato_light';
    src: url('fonts/Lato/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato_thin';
    src: url('fonts/Lato/Lato-Thin.ttf');
}


@font-face {
    font-family: 'Lato_regular';
    src: url('fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato_bold';
    src: url('fonts/Lato/Lato-Bold.ttf');
}







////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'AlmendraDisplay-Regular';
    src: url(FONTS/FXTRA/Almendra_Display/AlmendraDisplay-Regular.ttf);
}




////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'BirthstoneBounce-Medium';
    src: url(FONTS/FXTRA/Birthstone_Bounce/BirthstoneBounce-Medium.ttf);
}



////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'Buda-Light';
    src: url(FONTS/FXTRA/Buda/Buda-Light.ttf);
}




////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'FleurDeLeah-Regular';
    src: url(FONTS/FXTRA/Fleur_De_Leah/FleurDeLeah-Regular.ttf);
}




////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





@font-face {
    font-family: 'LexendTera-Light';
    src: url(FONTS/FXTRA/Lexend_Tera/static/LexendTera-Light.ttf);
}


@font-face {
    font-family: 'LexendTera-Medium';
    src: url(FONTS/FXTRA/Lexend_Tera/static/LexendTera-Medium.ttf);
}


@font-face {
    font-family: 'LexendTera-Regular';
    src: url(FONTS/FXTRA/Lexend_Tera/static/LexendTera-Regular.ttf);
}


@font-face {
    font-family: 'LexendTera-Thin';
    src: url(FONTS/FXTRA/Lexend_Tera/static/LexendTera-Thin.ttf);
}







////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'Qwigley-Regular';
    src: url(FONTS/FXTRA/Qwigley/Qwigley-Regular.ttf);
}



////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



@font-face {
    font-family: 'Sail-Regular';
    src: url(FONTS/FXTRA/Sail/Sail-Regular.ttf);
}



////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'Trochut-Regular';
    src: url(FONTS/FXTRA/Trochut/Trochut-Regular.ttf);
}


////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////




@font-face {
    font-family: 'ZenKurenaido-Regular';
    src: url(FONTS/FXTRA/Zen_Kurenaido/ZenKurenaido-Regular.ttf);
}



////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'Lora-Medium';
    src: url(FONTS/edu/Lora/static/Lora-Medium.ttf);
}




@font-face {
    font-family: 'Lora-Regular';
    src: url(FONTS/edu/Lora/static/Lora-Regular.ttf);
}


////////////////////////////////////////////////////////////////////////////////////////////////////////


@font-face {
    font-family: 'OpenSans-Light';
    src: url(FONTS/edu/Open_Sans/static/OpenSans/OpenSans-Light.ttf);
}




@font-face {
    font-family: 'OpenSans-Regular';
    src: url(FONTS/edu/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}




@font-face {
    font-family: 'OpenSans-Medium';
    src: url(FONTS/edu/Open_Sans/static/OpenSans/OpenSans-Medium.ttf);
}



@font-face {
    font-family: 'OpenSans_Condensed-Light';
    src: url(FONTS/edu/Open_Sans/static/OpenSans_Condensed/OpenSans_Condensed-Light.ttf);
}



@font-face {
    font-family: 'OpenSans_Condensed-Regular';
    src: url(FONTS/edu/Open_Sans/static/OpenSans_Condensed/OpenSans_Condensed-Regular.ttf);
}

@font-face {
    font-family: 'OpenSans_Condensed-Medium';
    src: url(FONTS/edu/Open_Sans/static/OpenSans_Condensed/OpenSans_Condensed-Medium.ttf);
}


////////////////////////////////////////////////////////////////////////////////////////////////////////

@font-face {
    font-family: 'Oswald-Light';
    src: url(FONTS/edu/Oswald/static/Oswald-Light.ttf);
}
@font-face {
    font-family: 'Oswald-Medium';
    src: url(FONTS/edu/Oswald/static/Oswald-Medium.ttf);
}
@font-face {
    font-family: 'Oswald-Regular';
    src: url(FONTS/edu/Oswald/static/Oswald-Regular.ttf);
}

////////////////////////////////////////////////////////////////////////////////////////////////////////

@font-face {
    font-family: 'PTSansCaption-Regular';
    src: url(FONTS/edu/PT_Sans_Caption/PTSansCaption-Regular.ttf);
}
////////////////////////////////////////////////////////////////////////////////////////////////////////
@font-face {
    font-family: 'RobotoSlab-ExtraLight';
    src: url(FONTS/edu/Roboto_Slab/static/RobotoSlab-ExtraLight.ttf);
}

@font-face {
    font-family: 'RobotoSlab-Light';
    src: url(FONTS/edu/Roboto_Slab/static/RobotoSlab-Light.ttf);
}


@font-face {
    font-family: 'RobotoSlab-Medium';
    src: url(FONTS/edu/Roboto_Slab/static/RobotoSlab-Medium.ttf);
}
////////////////////////////////////////////////////////////////////////////////////////////////////////
@font-face {
    font-family: 'SourceSansPro-ExtraLight';
    src: url(FONTS/edu/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf);
}
@font-face {
    font-family: 'SourceSansPro-Light';
    src: url(FONTS/edu/Source_Sans_Pro/SourceSansPro-Light.ttf);
}
@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url(FONTS/edu/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: 'SourceSansPro-SemiBold';
    src: url(FONTS/edu/Source_Sans_Pro/SourceSansPro-SemiBold.ttf);
}
////////////////////////////////////////////////////////////////////////////////////////////////////////
@font-face {
    font-family: 'Nunito' ;
    src: url(FONTS/Nunito/Nunito-VariableFont_wght.ttf);
}
////////////////////////////////////////////////////////////////////////////////////////////////////////

@font-face {
    font-family: 'NotoSerifDisplay_Condensed-Light' ;
    src: url(FONTS/Noto_Serif_Display/static/NotoSerifDisplay_Condensed/NotoSerifDisplay_Condensed-Light.ttf);
}



@font-face {
    font-family: 'NotoSerifDisplay_Condensed-Bold' ;
    src: url(FONTS/Noto_Serif_Display/static/NotoSerifDisplay_Condensed/NotoSerifDisplay_Condensed-Bold.ttf);
}


////////////////////////////////////////////////////////////////////////////////////////////////////////
